################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/RightVisionBotDb/bin/Debug/net8.0
/RightVisionBotDb/obj/Debug/net8.0